/* styles.css */

/* Style for the carousel text */
.carousel-caption {
    text-align: right;
    padding-right: 1vw;
    padding-bottom: 7vw;
}

/* Apply a brightness filter to the carousel images */
.carousel-inner img {
    filter: brightness(70%);
}

/* Change the text color of the transparent button to white */
.btn-outline-secondary {
    color: #fff; /* Set the text color to white */
    border-color: #fff; /* Set the border color to white */
}

.custom-bg-grey {
    background-color: #3d3c3c; /* Replace with your desired color code */
}

/* Custom button style */
.btn-light-green {
    background-color: limegreen; 
    color: white; /* Optionally, you can set the text color to white for better contrast */
}

/* Hover and active states (adjust as needed) */
.btn-light-green:hover {
    background-color: lightgreen;
}

.btn-light-green:active {
    background-color: green; /* Change the color when clicked/active */
}
